*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#2f80ed;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:#fff;
padding:30px;
width:500px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.3);
text-align:center;
}

h1{
margin-bottom:20px;
}

button{
padding:12px 25px;
border:none;
background:#2f80ed;
color:white;
cursor:pointer;
margin-top:20px;
border-radius:8px;
font-size:18px;
}

button:hover{
background:#1b5fc6;
}

.btn{
display:block;
width:100%;
margin:10px 0;
background:#f4f4f4;
color:#000;
border:1px solid #ccc;
padding:12px;
cursor:pointer;
border-radius:8px;
}

.btn:hover{
background:#2f80ed;
color:white;
}

.correct{
background:green!important;
color:white;
}

.wrong{
background:red!important;
color:white;
}

.hide{
display:none;
}